# ========================
# DEPENDENCIES
# ========================
node_modules/

# ========================
# ENVIRONMENT FILES (SENSITIVE)
# ========================
.env
.env.*
!.env.example

# ========================
# UPLOADS (DATA USER)
# ========================
uploads/

# ========================
# LOG FILES
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# SYSTEM FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# BUILD / CACHE
# ========================
dist/
build/
.cache/